
<!DOCTYPE html>
<html lang="en" class="no-js">

    <head>

        <meta charset="utf-8">
        <title>Fullscreen Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">


        <!-- CSS -->
        
        <link rel="stylesheet" href="../Resources/css/reset.css">
        <link rel="stylesheet" href="../Resources/css/supersized.css">
        <link rel="stylesheet" href="../Resources/css/style.css">
        <link rel="stylesheet" href="../Resources/css/bootstrap.min.css">
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->


          <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </head>

    <body>

        <div class="page-container">
            <h1>Login</h1>
            <form action="" method="post">
                <input type="text" name="username" class="username" id="username" placeholder="Usuario">
                <input type="password" name="password" class="password" id="password" placeholder="Password">
                <button type="button" onclick="confirmar()">Sign me in</button>
                <div class="error"><span>+</span></div>
                <button type="button"  data-toggle="modal" data-target="#myModal">Olvide mi contraseña</button>

          <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          
                        </div>
                    <div class="modal-body">
                         <?php
                                session_start();
                                  if (isset($_SESSION['ingreso']) && $_SESSION['ingreso']=='YES'&& $_SESSION['tipo']=='administrador')
                                  {?>
                                    <!doctype html>
                                <!doctype html>
                                <html class="no-js" lang="en">

                                    <head>
                                        <meta charset="utf-8">
                                        <meta http-equiv="x-ua-compatible" content="ie=edge">
                                        <title> ModularAdmin - Free Dashboard Theme | HTML Version </title>
                                        <meta name="description" content="">
                                        <meta name="viewport" content="width=device-width, initial-scale=1">
                                        <link rel="apple-touch-icon" href="apple-touch-icon.png">
                                        <!-- Place favicon.ico in the root directory -->
                                        <link rel="stylesheet" href="../Resources/css/vendor.css">
                                        <!-- Theme initialization -->
                                        <!--<link rel="stylesheet" id="theme-style" href="../Resources/css/app.css">-->
                                    </head>

                                    <body>
                                        <div class="main-wrapper">
                                            <div class="app" id="app">
                                                <header class="header">
                                                    <div class="header-block header-block-collapse hidden-lg-up"> <button class="collapse-btn" id="sidebar-collapse-btn">
                                                <i class="fa fa-bars"></i>
                                            </button> </div>
                                                    
                                                    <div class="header-block header-block-buttons">
                                                        <a href="https://github.com/modularcode/modular-admin-html" class="btn btn-oval btn-sm rounded-s header-btn"> <i class="fa fa-github-alt"></i> View on GitHub </a>
                                                        
                                                    </div>
                                                    <div class="header-block header-block-nav">
                                                        <ul class="nav-profile">
                                                            <li class="profile dropdown">
                                                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                                                    <i class="fa fa-user"></i> 
                                                                    <span class="name">
                                                                     <?php echo $_SESSION['nombre']; ?>
                                                                    </span>     
                                                                </a>
                                                                <div class="dropdown-menu profile-dropdown-menu" aria-labelledby="dropdownMenu1">
                                                                    <a class="dropdown-item" href="login.html"> <i class="fa fa-power-off icon" onclick='cerrar()'></i> Logout </a>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </header>
                                                <aside class="sidebar">
                                                    <div class="sidebar-container">
                                                        <div class="sidebar-header">
                                                            <div class="brand">
                                                                <div class="logo"> <span class="l l1"></span> <span class="l l2"></span> <span class="l l3"></span> <span class="l l4"></span> <span class="l l5"></span> 
                                                                </div> Geolocalizacion 
                                                            </div>
                                                        </div>
                                                        <!--navegador contiene los botones-->
                                                        <?php
                                                        include_once "navigator.php";
                                                        ?>
                                                    </div>
                                                    
                                                </aside>
                                                <div class="sidebar-overlay" id="sidebar-oaverlay"></div>
                                                
                                                <article class="content dashboard-page">                                                    
                                                    <section class="section">

                                                        <!--<div class="container">-->
                                                                    <div class="row">
                                                                        <div class="main col-lg-12">
                                                                        <div class="card card-block sameheight-item">
                                                                            <h1 class="page-header">
                                                                                <small>Recuperacion de Contraseña</small>
                                                                            </h1>
                                                                            
                                                                            <hr class="fx-line">

                                                                            <div class="panel">
                                                                            
                                                                                <div class="form-group" >
                                                                                    <label for="pregunta" class="col-lg-2 control-label">Pregunta :</label>
                                                                                    <input type="text" class="form-control" name="pregunta" id="pregunta" placeholder="Pregunta" style="width:330px;" required>
                                                                                </div>

                                                                                <div class="form-group">
                                                                                    <label for="email" class="col-lg-2 control-label">Email :</label>
                                                                                    <input type="text" class="form-control" name="email" id="email" placeholder="Email" style="width:330px;" required>
                                                                                </div>
                                                                                
        
                                                                                    <p class="login-submit">
                                                                                    <button type="button" class="btn btn-success" style="margin-left:265px;" onclick="crear();">listo</button>
                                                                                    </p>

                                                                        </div>
                                                                    </div>
                                                                <!--</div>-->
                                                    </section>
                                                
                                                </article>
                                            </div>
                                        </div>
                                        <!-- Reference block for JS -->
                                       
                                        <script src="../Resources/js/vendor.js"></script>
                                        <script src="../Resources/js/app.js"></script>
                                        <script>
                                        function cerrar()
                                        {
                                            $.ajax({
                                                url:'../Controllers/usuario.php',
                                                type:'POST',
                                                data:"boton=cerrar"
                                            }).done(function(resp){
                                                location.href = '../Views/login.html'
                                            });
                                        }
                                        function subir() {
                                            var file_data = $("#imagen").prop("files")[0];
                                            var form_data = new FormData();
                                            form_data.append("file", file_data)

                                            $.ajax({
                                                url: "recogerFichero.php",
                                                dataType: 'script',
                                                cache: false,
                                                contentType: false,
                                                processData: false,
                                                data: form_data,
                                                type: 'post',
                                                success: function(){
                                                    
                                                }
                                            });

                                        };
                                        function crear() {

                                            /*var pregunta =$('#pregunta').val();*/
                                            var email =$('#email').val();
                                            
                                         if (pregunta&&email) {   
                                                $.ajax({
                                                url:'../Controllers/enviaEmail.php',
                                                type:'POST',
                                                data:"&email="+email
                                            })/*.done(function(resp){
                                                alert(resp);
                                                if (resp=="En unos momentos enviaremos un mensaje a su correo ") {
                                                    subir();
                                                    location.href='../Views/nuevaPersona.php';
                                                }*/
                                                

                                            })}
                                             else{
                                                alert("hay campos vacios, todos los campos son necesarios");
                                             }    
                                         };
                                    </script>
                 </body>

            </html>    
            <?php

  }
  else
  {
    header("location: ./");
  }
 ?>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>   


                                
                            
            </form>
            
        </div>

        <!-- Javascript -->
        <script src="../Resources/js/jquery-1.11.2.js"></script>
        <script src="../Resources/js/supersized.3.2.7.min.js"></script>
        <script src="../Resources/js/supersized-init.js"></script>
        <script src="../Resources/js/scripts.js"></script>
        <script type="text/javascript">
            function confirmar() {
                var username =$('#username').val();
                var password =$('#password').val();
                $.ajax({
                    url:'../Controllers/usuario.php',
                    type:'POST',
                    data:'usuario='+username+'&password='+password+"&boton=ingresar"
                }).done(function(resp){
                    if(resp=='0'){
                        $('#error').show();
                        location.href='../Views/login.html';}
                    else{
                        alert('el usuario es un '+resp);
                        if (resp=='usuario estandar') 
                        {
                            location.href='../Views/Aplicacion_Ustandar.php';
                         }
                        else if(resp=='administrador')
                        {
                            location.href='../Views/administrador.php';
                        }
                    }
                })};








        </script>

    </body>

</html>

